@import '../../stylesheets/mixins/themify';

.config {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 30px 20px;

  &__form {
    max-width: 360px;
    width: 100%;
  }

  &__footer {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      text-align: center;
      line-height: 16px;
    }
  }

  &__link-twitch {
    font-size: 12px;

    @include themify() {
      color: themed('textColor');
    }

    span {
      @include themify() {
        color: themed('linkColor');
      }
    }
  }

  &__link-repo {
    font-size: 11px;

    @include themify() {
      color: themed('secondTextColor');
    }
  }
}
