@import './mixins/themify';

* {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  scroll-behavior: smooth;
  margin: 0;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  @include themify() {
    background: themed('background');
    color: themed('textColor');
  }

  &__content {
    flex: 1;
    padding: 10px 15px;
    overflow: auto;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
  background: #a9a9a9;
  cursor: pointer;

  &:hover {
    background: #7c7c7c;
  }
}
