$themes: (
  light: (
    textColor: #24292e,
    secondTextColor: #586069,
    background: #f9f9f9,
    borderColor: #d1d5da,
    secondBackground: #fff,
    linkColor: #0366d6,
    inputBackground: #fff,
  ),
  dark: (
    textColor: #fff,
    secondTextColor: #98a5ac,
    background: #30363d,
    borderColor: #141414,
    secondBackground: #1d2125,
    linkColor: #74b1f4,
    inputBackground: #414953,
  ),
);
