@import '../../stylesheets/mixins/themify';

.select-base {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;

  &__label {
    font-size: 12px;
  }

  &__wrapper {
    position: relative;
    margin-top: 5px;
  }

  &__arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  select {
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: 12px 15px;
    font-size: 14px;
    line-height: 16px;
    appearance: none;

    @include themify() {
      border: 1px solid themed('borderColor');
      background: themed('inputBackground');
      color: themed('textColor');
    }
  }
}
